<% layout("/layouts/boilerplate") %>


  <div class="col-8 mt-3 offset-3">
    <h1> Profile Page</h1>
    <div class="mt-3 left">
      <p><b>Name:<%=user.name %></b></p>
      <p><b>Email : </b>
        <%=user.email %>
      </p>
      <p><b>Username :</b>
        <%=user.username %>
      </p>
      <p><b>Address:</b>
        <%=user.address %>
      </p>
      <p><b>About:</b>
        <%=user.about %>
      </p>
      <div class="mb-3 profileImage">
        <img src="<%=user.profileImage.url%>" alt="">
      </div>
      <a href="/profile/<%= user._id %>/editProfile" class="card-link mt-3 btn btn-col btn-dark"><i
          class="fa-solid fa-pen-to-square"></i></a>


      <a href="/logout" class="card-link btn mt-3 btn-outline-danger"> <i class="fa-solid fa-right-from-bracket"></i>
        LogOut</a>
    </div>
  </div>